<ion-header [translucent]="true">
  <ion-fab horizontal="end">
    <ion-fab-button size="small">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="this.toolBaring.logout()">
        <ion-icon name="lock-closed"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="getAds()">
        <ion-icon name="filter-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-segment value="default">
  <ion-segment-button (click)="getCategory(true)">
    <ion-label>CATEGORY 1</ion-label>
  </ion-segment-button>
  <ion-segment-button (click)="getCategory(false)">
    <ion-label>CATEGORY 2</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>
  <ion-card *ngFor="let ad of ads">
    <ion-card-header>
      <span class="card-title-container">
        <ion-card-title>{{ ad.title }}</ion-card-title>
        <span class="date-container">{{ ad.createdAt | date: 'dd/MM/yyyy' }}</span>
      </span>
      <ion-card-subtitle>{{ ad.subtitle }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{ ad.description }}
    </ion-card-content>
    <div *ngIf="ad.createdBy === uid">
      <ion-button fill="clear" (click)="deleteAd(ad.id)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </div>

  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" style="position: fixed;">
    <ion-fab-button [routerLink]="['/create-ad']">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
