.ion-padding {
  display: flex;
}

.card-title-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.date-container {
  font-size: 12px;
  color: #808080;
}
