<ion-content [fullscreen]="true">

  <div class="header">
    <ion-title class="title" size="large">Reset your password</ion-title>
    <p class="subtitle">To receive a reset password link</p>
  </div>
  <div class="ion-padding">
    <form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">
      <ion-item>
        <ion-label position="floating">Enter your email</ion-label>
        <ion-input name="email" [(ngModel)]="email" #emailInput="ngModel" required email placeholder="Enter your email" class="input"></ion-input>
        <ion-icon name="person-outline" slot="end"></ion-icon>
      </ion-item>
      <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="error-message">
        <p class="errorInput" color="danger" *ngIf="emailInput.errors?.required">Email is required.</p>
        <p class="errorInput" color="danger" *ngIf="emailInput.errors?.email">Invalid email format.</p>
      </div>

      <ion-button expand="block" shape="round" type="submit" [disabled]="resetPasswordForm.invalid">
        Send
      </ion-button>

    </form>
  </div>

</ion-content>
